/* Dark mode button styling */
.ui.teal.button {
    background-color: #DDBEA8 !important; /* Dark background for buttons */
    color: #5d5d5d !important; /* White text */
    border: 1px solid #555 !important; /* Subtle border */
  }
  
  .ui.teal.button:hover {
    background-color: #F3DFC1 !important; /* Teal background on hover */
    color: #5d5d5d !important; /* Keep text white */
    border-color: #F3DFC1 !important; /* Teal border on hover */
  }
  
  .ui.basic.teal.button {
    background-color: transparent !important; /* Transparent for basic button */
    color: #F3DFC1 !important; /* Teal text color */
    border: 1px solid #F3DFC1 !important; /* Teal border for basic button */
  }
  
  .ui.basic.teal.button:hover {
    background-color: #ccaf84 !important; /* Teal background on hover */
    color: #5d5d5d !important; /* White text on hover */
  }
  