/* Dark mode button styling */
.ui.teal.button {
  background-color: #72705B !important; /* Dark taupe background for buttons */
  color: #FFFFFF !important; /* White text */
  border: 1px solid #9D765C !important; /* Subtle, complementary border */
}

.ui.teal.button:hover {
  background-color: #A5673F !important; /* Soft brown on hover */
  color: #FFFFFF !important; /* Keep text white */
  border-color: #A5673F !important; /* Matching border on hover */
}

.ui.basic.teal.button {
  background-color: transparent !important; /* Transparent for basic button */
  color: #A5673F !important; /* Soft brown text color */
  border: 1px solid #A5673F !important; /* Soft brown border for basic button */
}

.ui.basic.teal.button:hover {
  background-color: #A5673F !important; /* Soft brown background on hover */
  color: #FFFFFF !important; /* White text on hover */
}
